/* Global Styles */

@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.restaurantDescription{
  color: white;
  position: absolute;
  left: 9vw;
  top: 5vw;
}
.userprofile{
  width: 5vw;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.BiteSquadLogo{
  width: 8vw;
  height: 3vw;
  position: absolute;
  left: 0;
  top: 5vw;
}
.menu-item-1, .menu-item-2, .menu-item-3, .menu-item-4{
  background-color: grey;
  border-radius: 10px;
  width: 50vw;
  height: 10vw;
  color: white;
  
}

header {
  background-color:black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
  
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
  
nav li {
  margin: 0 10px;
}
  
nav a {
  color: white;
  text-decoration: none;
}
  
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
  
h2 {
  text-align: center;
  color: white;
}
 
.menu-item-1, .menu-item-2, .menu-item-3, .menu-item-4 {
  background-color: #333;
  display: flex;
  margin-bottom: 20px;
}
  
.menu-item-1, .menu-item-2, .menu-item-3, .menu-item-4{
  margin-right: 20px;
}
  
.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.price {
  font-weight: bold;
  margin-bottom: 0;
}
  
.item-quantity {
  display: flex;
  align-items: center;
}
  
.decrement-btn,
.increment-btn {
  font-size: 1.2em;
  padding: 5px 10px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
}
  
.quantity {
  font-size: 1.2em;
  margin: 0 10px;
}
.checkout:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.clkbtn {
  height: 60px;
	width: 150px;
	border-radius: 50px;
	background-image: linear-gradient(to right,
	rgb(255, 195, 110),
	rgb(255, 146, 91));
	font-size: 22px;
	border: none;
	cursor: pointer;
}

.checking{
  text-align: center;
}