@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
  color: white;
}


body {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	background-color: black;
}

.myform{
  display: block;
}

input[type = "text"], input[type = "number"], input[type = "month"]{
  width: 30vw;
  height: 2vw;
  display: flex;
  flex-direction: column;
  background-color: grey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
}

::placeholder{
  color: white;
}

.userprofile{
  width: 5vw;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.headerandimg {
  display: flex; /* set the display property to flex */
  align-items: center; /* vertically center the items */
  color: white;
}

.headerandim {
  display: flex; /* set the display property to flex */
  align-items: center; /* vertically center the items */
  color: white;
}

.headerandimg h3 {
  margin-right: 100px;
}

.headerandimg p {
  margin-right: 65px; 
  
}

.headerandim p {
  margin-right: 20px; 
  
}


.cashwithswitch{
  display: flex;
  align-items: center;
}

.cashwithswitch, .cash{
  margin-right: 20px;
}

/* code for the switch button*/ 
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
  /* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end of switch code */

form input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 10px;
}

.ideal, .homeimg, .payimg{
  width: 5vw;
  height: auto;
  border-radius: 10px;
}

button {
  position: relative;
  height: 3vw;
  width: 8vw;
  margin: 3vw auto;
  background-color: green;
  border-radius: 5vw;
  justify-content: space-around;
  align-items: center;
}